@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  padding: 0;
  margin: 0;  

}
body {
  width: 100%;
  background-color: black;

}

.main {
  height: 95vh;
  background-image: url(assests/images/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(
    1100px,
    100vw
  ); /* to resize the background and make it responsive*/
  position: relative;
}

.main .box {
  height: 95vh;
  width: 100vw;
  opacity: 0.69;
  background-color: black;
  position: absolute;
  top: 0;
}

nav {
  display: flex;
  max-width: 80vw;
  height: 80px;
  justify-content: space-between;
  margin: auto; /* Nav bar comes to the center*/
  align-items: center;
}

nav img {
  color: red;
  width: 130px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}
.hero {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative; /* comes above everything */
  font-family: "Martel Sans", sans-serif;
  gap: 30px;
  padding: 0 24px;
  text-align: center;
}
.hero > :first-child {
  /*First span in the block*/
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}
.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.seperation {
  height: 7px;
  background-color: rgb(30, 30, 30);
}
.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.btn {
  font-family: "Poppins", sans-serif;
  border: 0px;
  padding: 3px 24px;
  font-weight: 400;
  color: white;
  background-color: rgba(248, 243, 243, 0.021);
  border: 1px solid rgba(255, 255, 255, 0.568);
  border-radius:4px ;
  font-size: 20px;
  cursor: pointer;
}
.main input {
  font-family: "Poppins", sans-serif;
  border: 0px;
  padding: 7px 101px 8px 14px;
  border-radius: 5px;
 
  font-size: 12px;
  color: white;
  background-color: rgba(0, 0, 0, 0.637);
  border: 1px solid rgba(255, 255, 255, 0.692);
}
.btn-red {
  padding: 3px 24px;
  background-color: red;
  color: white;
  border-radius: 5px;
  font-size: 20px;
}
.btn-red-sm {
  background-color: red;
  color: white;
}

.first{
  
  font-family: "Martel Sans", sans-serif; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 75vw;
  margin: auto;
  margin-top: 110px;
  margin-bottom: 110px;
}





.secImg{
  position: relative;
}
.secImg img{
  width: 542px;
  position: relative;
  z-index: 9;
}
.secImg video{
  height: 250px;
  position: absolute;
  top: 115px;
  right: 63px;
}
.first> div{
  display: flex;
  flex-direction:column;
  padding: 34px;
}
.first> div :nth-child(1){
  font-size: 48px;
  font-weight: bolder;
}
.first> div :nth-child(2){
  font-size: 24px;
  font-weight: bolder;
  }
    .faq {
     padding: 20px;
      background-color: black;
      color: white;
     font-family: 'Martel Sans'
    }
.faqbox{
  display: flex;
  background-color: #2d2d2d;
  padding: 1.5rem;
  max-width: 70vw;
  margin: auto;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4vw;
  cursor: pointer;
}

.faqbox:hover{
  background-color: #414141;
  transition: 0.3s ease-in;
}
.faq h2 {
  text-align: center;
  font-size: 3vw;
 
}
.faq h4 {

  text-align: center;
  font-size: 1.5vw;
 margin-top: 9vh;
}
.faq input {
  font-family: "Poppins", sans-serif;
  border: 0px;
  padding: 7px 101px 8px 14px;
  border-radius: 5px;
 
  font-size: 12px;
  color: white;
  background-color: rgba(0, 0, 0, 0.637);
  border: 1px solid rgba(255, 255, 255, 0.692);
}
.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
  max-width: 60vw;
  margin: auto;
  margin-top: 34px;
  margin-left: 15vw;
  margin-bottom: 100px;
}
@media screen  and (max-width:1300px) {
  .footer{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen  and (max-width:1300px) {
  .first{
    flex-wrap: wrap;
  }
 

}

.footer-items{
  display: flex;
  flex-direction: column;
  gap: 25px;

}
footer> :first-child{
  margin-top: 10vh;
  margin-left: 14.8vw;
  margin-bottom: 1vh;
  color: white;
}

footer a{
  font-size: 14px;
  color: white;
}